<a href="https://colab.research.google.com/github/yelosolutions/Machine-Learning/blob/main/Credit_Card_Fraud_Detection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd
from sklearn.linear_model import LogisticRegression 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
credit_card_data = pd.read_csv('/content/creditcard.csv')

In [ ]:
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [ ]:
credit_card_data.tail()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
41678  40781 -0.447381  1.134089  0.534095  ... -0.058317 -0.085094    1.00    0.0
41679  40782  1.133168  0.406826  0.956032  ...  0.010912  0.018509   10.65    0.0
41680  40783 -0.536190  1.355132  0.064049  ... -0.367509 -0.399716    1.00    0.0
41681  40783 -0.498757  0.332449  1.917148  ...  0.380606  0.226502   26.59    0.0
41682  40784 -0.621229 -0.733600       NaN  ...       NaN       NaN     NaN    NaN

[5 rows x 31 columns]

In [ ]:
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        1
V4        1
V5        1
V6        1
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64